

/******* DEBUG *******/

  .bso{
    border: 1px solid orange;
  }


  .bdb{
    border: 1px dashed black;
  }

  .bdr{
    border: 1px dashed red;
  }

  .he-60{
    height: 60%;
  }

  .he-30{
    height: 30%;
  }