/*  **** BREAKPOINTS ****

  Small	sm	≥576px
  Medium	md	≥768px
  Large	lg	≥992px      */



/****** GENERCIS ******/

.search-bar form{
  background-color: rgb(229,229,229);
}

.fa-bell{
  color: rgb(255,143,0);
}

a{
  color: rgb(91,88,88);
}


/**** UTILITY ****/

.bg-lightgrey{
  background-color: rgb(229,229,229);
}


/***** HEADER *****/

header{
  height: 80px;
  position: sticky;
  top: 0;
  right: 0;
  
  
  background-color: white;
}

.logo{
  max-height: 80px;
}




/***** MAIN *****/

.main-content{
  height: calc(100vh - 80px);
}


#sidebar{
  background-image: url(../img/sidebar-bg.png);
  height: calc(100vh - 80px);
  width: 20%;
}

.main-section{
  width: 100%;
  height: calc(100vh - 80px);
  overflow: auto;
}

.main-hd{
  height: 100px;
}




