/*  **** BREAKPOINTS ****

  Small	sm	≥576px
  Medium	md	≥768px
  Large	lg	≥992px      */



/****** GENERCIS ******/

.search-bar form{
  background-color: rgb(229,229,229);
}

.fa-bell{
  color: rgb(255,143,0);
}

a{
  text-decoration: none;
}




/**** UTILITY ****/

.bg-lightgrey{
  background-color: rgb(229,229,229);
}



/***** HEADER *****/

header{
  height: 80px;
  background-color: white;
}

.logo{
  max-height: 80px;
}

.nav-menu a{
  color: rgb(91,88,88);
}





/***** MAIN *****/

.wrapper{
  height: calc(100vh - 80px);
}


.main-section{
  flex: 1 1 auto;
  overflow: auto;
}

.main-hd{
  height: 100px;
}


/***** SIDEBAR *****/

#sidebar{
  flex: 0 0 70px;
  background-image: url(../img/sidebar-bg.png);
  background-color: rgb(5,30,52);  
 
}

#sidebar a{
  color: white;
}


#sidebar li{
  padding-bottom: 2rem;
  text-align: center;
}

#sidebar .fa-solid{
  padding-right: 1rem;
}



/******** RESPONSIVE ********/

@media screen and (min-width:768px) {
  #sidebar{
    max-width: 15%;
  }
}

